.loginWrapper{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-40%);
  text-align: center;
}

.providers{
  width: 200px;
  display: flex;
  justify-content: space-around;
}