@import "../../../theme.module";

.primary {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  border: none;
  border-radius: 4px;
  background: $success-color;

  &:hover, &:focus {
    background: $success-color-hover;
    border-color: unset;
  }

  &:not(:hover){
    background: $success-color;
  }
}

.primary-disabled {
  background: $success-color;
}

.secondary {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}
